<html lang="en" >
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="/css/main.css">
      <script language="javascript" src="/js/master-controller.js"></script>      
   </head>
   <body ng-app="firstApplication"> 
			<form name="adminForm" action="submit" method="post">
       <p class="">Please enter the Team A name</p>
       <input type="text" name="teamA" class="" ng-model="teamA"><br>
       <p class="">Please enter the Team B name</p>
       <input type="text" name="teamB" class="" ng-model="teamB"><br>
      	<div class="datepickerdemo" ng-controller="dateController as ctrl" layout="column" ng-cloak>
         <md-content>
            <h4>Please select a date</h4>
            <md-datepicker 
               ng-model="myDate" 
               md-placeholder="Enter date"></md-datepicker>
         </md-content>
	   	</div>
	   	<div ng-show=teamA>
	   	<p>Enters {{ teamA }}'s Score</p>
	   	<input type="text" name="teamAScore" class="" ng-model="teamAScore">
	   	</div>
	   	<div ng-show=teamB>
	   	<p ng-show=teamB>Enters {{ teamB }}'s Score</p>
	   	<input type="text" name="teamBScore" class="" ng-model="teamBScore"><br>
	   	</div>
	   	<br>
	   	<input type="submit" value="Submit">
	   	</form>
   </body>
</html>